---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ site.name }}</h1>
      <h2 class="page-description">
        {% if site.description %} {{ site.description }}. {% endif %}
      </h2>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">
  <!-- tswicegood -->
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="./tools.html">Introduction to the Tools</a>
      </h2>
    </header>
    <section class="post-excerpt">
      Every new discipline has tools that you need to be familiar with to get
      started.  Those tools in Python are Anaconda and IPython Notebooks.  This
      section introduces you to those tools.
      <a class="read-more" href="./tools.html">&raquo;</a>
    </section>
  </article>

  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="#TODO">Pandas: The First Look</a>
      </h2>
    </header>

    <section class="post-excerpt">
      Pandas, Python's data analysis library, is where you're going to spend
      most of your time manipulating and interrogating data.  This section
      introduces to its core concepts and shows you have to do some of the
      things you're probably already familiar with in spreadsheets.
    </section>
  </article>

  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="#TODO">Pandas: Digging Deeper</a>
      </h2>
    </header>

    <section class="post-excerpt">
      Now that you've got your feet wet with Pandas, it's time to dig into some
      of the features that you can't do with spreadsheets.  This section shows
      you how to clean-up, transform, and ask hard questions of data.
    </section>
  </article>


  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="#TODO">Visualization: Showing Your Work</a>
      </h2>
    </header>

    <section class="post-excerpt">
      So far we've dealt with raw data and output it mostly in tabular form.
      Visualizations provide an entirely new understanding of the data, one
      that might not be obvious from plain tables.  This section introduces you
      to matplotlib and bokeh, two of the tools that let you turn you data
      into plots and charts.
    </section>
  </article>

  <!-- TODO Bonus section: scikit-learn to showcase machine learning / clustering? -->


</main>
